

body {
  padding-top: 2rem;
 
}
.backgroundIMG {
    background-image: url('../img/backgroundimage1.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    
}

.top-right-links a {
  margin-left: 0.5rem;
  padding-bottom:1rem;
}

.big-image {
  min-height:20rem;
}

.featured-text {
  text-align:left;
  padding-top: 2rem;
}

.thumbnail {
  padding: 1rem;
}

.thumbnail-title {
  display:block;
  font-size:1.5rem;
}

.thumbnail-title-huge {
  display:block;
  font-size:2.5rem;
}


/*
.thumbnail img {
  margin:1rem;
}
*/

.thumbnails .row {
  margin-bottom:2rem;
}

footer {
  padding: 2rem;
  background-color:rgb(214,214,214);
}

footer h3 {
padding-bottom:1rem;
}

footer .information {
  list-style:none;
  padding: 0;

}
footer .information li {
  padding-top:0.25rem;
  padding-bottom:0.25rem;
}

.copyright {
  background-color:rgb(35,31,32);
  text-align:center;
  padding:1rem;
  color:white;
  font-size:1.5rem;
}

video {
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: thin;
}

.paragraph-text p {
  margin-top:1rem;
  margin-bottom:1rem;
}

.box {
  border-style: solid;
  border-width: thin;
  padding: 2rem;
}

.two-column .box  {
  margin-bottom: 1rem;
}

.box-pad {
  padding: 5rem;
}

.btn-start {
  width: 20rem;
  text-align: center;
}

.btn-middle {
  text-align: center;
  padding-bottom: 1.5rem;
}

.form-container {
  border-style: solid;
  border-width: thin;
}

.form-title {
  border-bottom: solid;
  border-width: thin;
  margin-bottom: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

h-thin {
  font-size: 1.5rem;
  font-weight: lighter;

}

.social-thumbnail img {
  margin-right: 2rem;
}

.social-btn {
  width:100%;
}

.monetize-fashion {
  text-align:center;
  color: white;
    font-weight: bold;
}

.monetize-fashion h1 {
  font-size: 4rem;
    font-family: fantasy;
}

.monetize-fashion h2 {
  padding-bottom: 3rem;
    font-family: fantasy;
    font-size: 2rem;
}

.login-title {
  text-align: center;
  padding-bottom: 1rem;
   
}

.btn-red {
  background-color: red;
  color: white;
  width: 12rem;

}

.btn-green {
  background-color: #43bc64;
  color: white;
  width: 16rem;

}
.btn-green:hover{
   color: #fff;
    background: #27ce53;
}
.btn-red {
  
  color: white;
  width: 16rem;

}
.btn-red:hover{
   color: #fff;
    background: #ff1e0a;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border: 1px solid black;
    margin: 1em auto;
    padding: 0;
    width: 70%;

}

.whitespace {
  padding : 5rem;
}
#allInputFieldsStyling{
    padding:10px;
    border:1px solid black;
    border-radius: 0;
    
}
#divider{
    border:0.5px solid black;
}
li.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
.workimg
{
	height:223px;
	width:50%;
}
.col-sm-12.security
{
	padding-left:8%;
}
.workimgg
{
	height:223px;
	width:90%;
}
.text-lefft
{
	width:50%;
	text-align:justify;
}
.text-leftt
{
	width:90%;
	text-align:justify;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
	
	.circle {
	height: 80px !important;
	width: 80px !important;
	
}
.col-sm-4.pay {
	margin-bottom: 10px;
	width: 33.33%;
}
.workimg {
    height: 223px;
    width: 100%;
}
.workimgg
{
	height: 223px;
	width:100%;
}
.text-lefft
{
	width:100%;
	text-align:justify;
}
.text-leftt
{
	width:100%;
	text-align:justify !important; 
}
.paragraph-text p{
	text-align:justify;
}
.container.workshop
{
	width:100% !important;
}
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
	.control-label.col-sm-2 {
	font-size: 12px;
	padding: 0 0 0 5px;
}
	.box-pad {
	padding: 0px !important;
}
.control-label.col-sm-2 {
	font-size: 12px;
}
	.social-btn {
	width: 100%;
	font-size: 14px !important;
	text-align: center !important;
	padding: 0 0 0 -1px;
	line-height: 18px !important;
	padding: 10px 0px !important;
}
.container.workshop
{
	width:100% !important;
}
}
.social
{
	    vertical-align: middle;
		    margin-right: 10px;
}
	.check
	{
		margin-top:35px;
	}
	p.checkout {
    font-size: 40px;
    /* font-weight: 600; */
    margin-left: 50px;
}
.circle {
    height: 100px;
    margin: auto;
    border: solid 1px;
    width: 100px;
    border-radius: 90%;
}
.circle p {
    border-radius: 90%;
    text-align: center;
    margin-top: 38%;
}
.circle3
{
	background:#003d99;
}
.circle3 p
{
	font-weight:bold;
	color:#fff;
}
.row.payment-summary {
    background: #1b70f9;
    margin: 40px;
}
.row.payment-summary p {
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}
.total-price
{
	margin:30px;
}
.total-price p
{
	   
   text-align: right !important;
    width: 100%;
    margin: 30px;
	font-weight:bold;
	font-size:20px;
}
.total-price span {
    padding-left: 50px;
}
.row.total-price {
    margin: 30px;
}
.row.payment-card {
    background: #1b70f9;
    margin: 40px;
}
.row.payment-card p {
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}
.form-div 
{
	margin:40px;
	
}

.form-div .form-control
{
	width:70%;
	    display: inline-block;
}
.form-div span {
    width: 20%;
    display: inline-block;
    text-align: right;
    margin-right: 15px;
font-size: 19px !important;
}
.form-control.date-form
{
	width:20% !important;
}
.form-control.date-form-security
{
	width:15% !important;
}
.card-img {
    width: 20%;
    display: inline;
}
.card-digit-disc
{
width: 50% !important;
    /* vertical-align: middle; */
    margin-left: 10px;
    text-align: left !important;
}
.row.billing-address
{
	 background: #1b70f9;
    margin: 40px;
}
.row.billing-address p
{ 
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}
.row.billing-details
{
	 margin-top: -20px;
	  margin-left: 40px;
	   margin-right: 40px;
}
.row.billing-details p
{

    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}
.form-div2 {
  margin-top: 10px;
	  margin-left: 60px;
	   margin-right: 40px;
}
.form-div2 .form-control
{
	    width: 70%;
    display: inline-block;
}
.form-div2 span
{
width: 15%;
    display: inline-block;
    text-align: right;
    margin-right: 15px;
    font-size: 19px !important;
}
.form-div2 .checkbox {
    font-size: 20px;
}
.del-check
{
    margin-right: 10px;
}
input.btn.btn-submit {
    float: right;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    color: #fff;
	width: 200px;
    height: 50px;
    border: 1px solid #000;
    background: #ff0000;
	cursor:pointer;
}
input.btn.btn-back {
    /* float: right; */
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    /* color: #fff; */
    height: 50px;
    border: 1px solid #000;
    background: #fff;
    width: 200px;
	cursor:pointer;
}
.shop-link a
{
	font-size:18px;
}
@media screen and (max-width: 767px) and (min-width: 300px) {	

	.form-control.date-form {
    width: 70% !important;
}
.form-div span
{
	width:100%;
text-align:left;
	
}
.form-control.date-form-security {
    width: 100% !important;
}
.form-div2 span {
    width: 100%;
    text-align: left;

}
input.btn.btn-submit {
	float:left;
	
}
.shop-link
{
	clear:both;
}
input.btn.btn-back
{
margin-bottom: 20px;
}
.col-sm-4.pay
{
margin-bottom: 10px;
}
.form-div .form-control
{
width:100%;
}
.form-control.date-form {
    width: 100% !important;
}
.card-img img
{
vertical-align: initial;
}
.form-div2 .form-control {
    width: 100%;
    display: inline-block;
}
p.checkout
{
	margin-left:0px;
	text-align:center;
}
.card-digit-disc
{
	width:100% !important;
}
.card-img img {
 
    margin-top: 20px;
}
}
@media screen and (max-width: 480px) and (min-width: 320px) {
	.box-pad {
	padding: 0px;
}
.mx-auto h1 {
	font-size: 30px;
}
}