

body {
  padding-top: 2rem;
 
}
.backgroundIMG {
    background-image: url('../img/backgroundimage1.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    
}

.top-right-links a {
  margin-left: 0.5rem;
  padding-bottom:1rem;
}

.big-image {
  min-height:20rem;
}

.featured-text {
  text-align:center;
  padding-top: 2rem;
}

.thumbnail {
  padding: 1rem;
}

.thumbnail-title {
  display:block;
  font-size:1.5rem;
}

.thumbnail-title-huge {
  display:block;
  font-size:2.5rem;
}


/*
.thumbnail img {
  margin:1rem;
}
*/

.thumbnails .row {
  margin-bottom:2rem;
}

footer {
  padding: 2rem;
  background-color:rgb(214,214,214);
}

footer h3 {
padding-bottom:1rem;
}

footer .information {
  list-style:none;
  padding: 0;

}
footer .information li {
  padding-top:0.25rem;
  padding-bottom:0.25rem;
}

.copyright {
  background-color:rgb(35,31,32);
  text-align:center;
  padding:1rem;
  color:white;
  font-size:1.5rem;
}

video {
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: thin;
}

.paragraph-text p {
  margin-top:1rem;
  margin-bottom:1rem;
}

.box {
  border-style: solid;
  border-width: thin;
  padding: 2rem;
}

.two-column .box  {
  margin-bottom: 1rem;
}

.box-pad {
  padding: 5rem;
}

.btn-start {
  width: 20rem;
  text-align: center;
   background-color: white;
    
}
#btn-start-border{
    border: 1px solid black;
}

.btn-middle {
  text-align: center;
  padding-bottom: 1.5rem;
   
}

.form-container {
  border-style: solid;
  border-width: thin;
}

.form-title {
  border-bottom: solid;
  border-width: thin;
  margin-bottom: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

h-thin {
  font-size: 1.5rem;
  font-weight: lighter;

}

.social-thumbnail img {
  margin-right: 2rem;
}

.social-btn {
  width:100%;
}

.monetize-fashion {
  text-align:center;
  color: white;
    font-weight: bold;
}

.monetize-fashion h1 {
  font-size: 4rem;
    font-family: fantasy;
}

.monetize-fashion h2 {
  padding-bottom: 3rem;
    font-family: fantasy;
    font-size: 2rem;
}

.login-title {
  text-align: center;
  padding-bottom: 1rem;
   
}

.btn-red {
  background-color: red;
  color: white;
  width: 12rem;

}

.btn-green {
  background-color: #43bc64;
  color: white;
  width: 16rem;

}
.btn-green:hover{
   color: #fff;
    background: #27ce53;
}
.btn-red {
  
  color: white;
  width: 16rem;

}
.btn-red:hover{
   color: #fff;
    background: #ff1e0a;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border: 1px solid black;
    margin: 1em auto;
    padding: 0;
    width: 70%;

}

.whitespace {
  padding : 5rem;
}
#allInputFieldsStyling{
    padding:10px;
    border:1px solid black;
    border-radius: 0;
    
}
#divider{
    border:0.5px solid black;
}
.partner-body{
    margin-top: 50px;
}
@media screen and (min-width: 1200px){
    p{
        max-width: 60%;
        margin-left: 20%;
        
       
        
    }
}
@media screen and (max-width: 1199px) and (min-width:768px){
    p{
        max-width: 60%;
        margin-left: 20%;
       
       
        
    }
}

@media screen and (max-width: 767px) and (min-width:320px)
{
   
    .btn-start{
        width: 15rem;
    }
    p{
        max-width: 100%;
        margin-left: 0%;
         
        
    }
}
.box-margin{
    margin-bottom: 10px;
    
}
.box-margin h3{
    margin-top: 10px;
}
#icon-font{
    font-size: 5rem; 
    font-weight: bold;
}
