nav {
  font-family:'Courier New';
}

body {
  padding-top: 5rem;
}

.top-right-links *:not(:first-of-type)::after {
      padding: .5rem .5rem!important;
      content: ' | ';
}

.top-right-links {
  padding-bottom:1rem;
}

.big-image {
  min-height:20rem;
}

.featured-text {
  text-align:center;
}

.thumbnail {
  padding: 1rem;
}

.thumbnail-title {
  display:block;
  font-size:1.5rem;
}

.thumbnail-title-huge {
  display:block;
  font-size:2.5rem;
}


.thumbnail img {
  margin:1rem;
}

.thumbnails .row {
  margin-bottom:2rem;
}

footer {
  padding: 2rem;
  background-color:rgb(214,214,214);
}

footer h3 {
padding-bottom:1rem;
}

footer .information {
  list-style:none;
  padding: 0;

}
footer .information li {
  padding-top:0.25rem;
  padding-bottom:0.25rem;
}

.copyright {
  background-color:rgb(35,31,32);
  text-align:center;
  padding:1rem;
  color:white;
  font-size:1.5rem;
}

video {
    width: 100%;
    height: auto;
}

.paragraph-text p {
  margin-top:1rem;
  margin-bottom:1rem;
}
